header {
    background-color: cornsilk;
    padding: 10px 10px;
    /* background-image: url(https://static1.bigstockphoto.com/6/1/1/large1500/116421746.jpg); */
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main__title{
    height: 50px;
    margin-left: 50px;
}
#logo{
    width: 50px;
    height: 50px;
    background-image: url(./picture__web1/logo.jpg);
    border: 1px solid skyblue;
    border-radius: 50%;
    margin-top: 3px;
    margin-top: -60px;
}
#name__list{
    color:rgb(20, 27, 25);
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 20px;
}
.center__title {
    margin-left: 1px;
    color:aqua;
    text-align: center;

}
p{
    display:inline-block;
    /* margin-top: -15px; */
}
#content{
    margin-top: -15px;
} 
#imglyth{
    background-image: url(./picture__web1/lythuyetcdtd.png);
    background-repeat:no-repeat;
    width: 450px;
    height: 140px;
    margin-left: 260px;
}
div{
    margin-top: -3px;
}
/* ptcd{
    word-spacing: 1px ;
    word-break: break-word;
} */
#list__lesson {
    color:rgb(20, 27, 25);
    font-size: 20px;
    margin-top: 1px;
}
#list__lesson--cdtd{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 20px;
}
footer{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}
