
/* Tiêu đề */
header {
    background-color:rgb(208, 144, 221);
    font-family:'Courier New', Courier, monospace;
    padding: 20px 0;
    font-weight: 400;
    text-align:center;

}
/* title__main */
h1 {
    margin: 1;
    background-image: url("./picture__main/header.jpg");
    color:rgb(187, 52, 95);
}

